{% extends 'base_auth.html' %}

{% load static %}
{% block middle %}
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image"
                                                                                      src="{% static "assets/img/logo.png" %}"
                                                                                      alt="logo.png"/></a>
            </div>
        </div>
        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Вход</h3>
            </div>
            <div class="clear"></div>
            <form action="/auth/" method="post">
                {% csrf_token %}
                <div>
                    <input class="user-input" type="text" name="username" id="name" placeholder="E-mail"/>
                </div>
                <div>
                    <input type="password" name="password" id="pass" placeholder="*********"/>
                </div>
                <div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <input onclick="login()" type="submit" value="Войти"/>
                </div>
                <a class="forgot-label" href="{% url 'auth:recovery_password' %}">Забыли пароль?</a>
                <a class="registr" href="{% url 'auth:register' %}">Регистрация</a>
            </form>
        </div>

    </div>
    <script src="{% static "assets/js/login.js" %}"></script>
{% endblock %}
