{% extends 'catalog/base_main.html' %}

{% block middle %}
    {% for review in reviews %}
        <div class="Comments">
            <div class="Comment">
                <div class="Comment-column Comment-column_pict">
                    <div class="Comment-avatar">
                    </div>
                </div>
                <div class="Comment-column">
                    <header class="Comment-header">
                        <div>
                            <strong class="Comment-title">{{ user.username }}
                            </strong><span class="Comment-date">{{ review.created_reviews}}</span>
                        </div>
                    </header>
                    <div class="Comment-content">{{ review.description }}
                    </div>
                </div>

            </div>
        </div>
{% endfor %}
{% endblock %}